@include mediasm{
    main{align-items: center;
    text-align: center; 
    }
    main#home h1,h2{
        margin-top: 10vh;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        width: 100px;
    }
    .channels
    {
  padding: 3.75%;
  grid-template-columns: 45%;
  grid-column-gap: 0;
  grid-row-gap: 20px;
        
    }
    
}
@include mediamd{
    main{
        align-items: center;
        justify-content: center;
        text-align: center; 
         .lg-heading{
             line-height:1;
             margin-bottom: 0px;
         }
    }
    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;
        &.show {
            transform:tranlate3d(0,0,0)
        }
    }
    .menu-branding{
        height: 25vh;
        transform: translate3d(-100%,0,0);
    }
    .nav-menu{
        height: 75vh;
        transform: translate3d(100%,0,0);
    }
    .about-info{
        grid-template-areas:
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
    }
    
    .channels
    {
        grid-template-columns:repeat( auto-fit, minmax(250px, 1fr) );
        grid-template-areas: 
        'call'
        'phone'
        'linkedIn' 
        'Email';
        
    }
}
@include mediawd{
    
}
@include mediaxl{
    
}