@import 'classes';
@import 'menu';

*{box-sizing: border-box;}
body{
    @include background();
    background: $primary-color;
    color: #fff;
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    line-height: 1.5;
} 
//headings
h1,h2,h3
        {
            margin:0;
            font-weight: 400;
            &.lg-heading{//same as h1.lg-heading
                font-size: 6rem ;
            }
            &.sm-heading{
                margin-bottom:3rem;
                margin-top:100px;
                justify-content: center;
                padding: 0.2rem 1rem;
                background: rgba(lighten($color: #444, $amount: 1),2);
            }
        }
        a{color: #fff;
        text-decoration: none;}
        header{
            position: fixed;
            z-index: 2;
            width: 100%;
        }
        .text-secondary
            {
                color: $secondary-color;
            }
        main
            {
                padding: 4rem;
                //height: 100%;
                min-height: calc(100vh - 60px);
                .wrapper
                    {
                        
                        justify-content: center;
                        padding: 6rem;
                        text-align: center;
                        
                    }
                .icons
                    {
                        margin-top: 1rem;
                        a{
                            padding: 0.5rem;
                            &:hover
                            {
                                color:$secondary-color;
                                @include easeout();
                            }
                        }
                      }
            &#home
                    {
                        overflow: hidden;
                        h1{
                            margin-top: 20vh;
                        }
                    }
            }
//about info stylesheet
.about-info
        {
            display: grid;
            grid-gap:30px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 'bioimage bio bio'
             'job1 job2 job3';
            .bio{
                .text-sec{
                    text-transform: uppercase;
                    font-size: 20px;
                    text-align: center;
                    letter-spacing: 4px;
                    color:lighten($color: $secondary-color, $amount: 5);
                }
                .love{
                    font-size: 20px;
                }
            }
        }
.bio-img{
    grid-area: bioimage;
    border-radius: 50%;
    border:$secondary-color 3px solid;
    height: 200px;
    width: 200px;
}
.bio{
    grid-area:bio;
    font-size: 1.5rem;
   text-align: justify;
    .text-sec{
        color:$secondary-color;
        text-transform: uppercase;
    }
}
.job-1{
    grid-area: job1;
     
}
.job-2{
    grid-area: job2;
     
}
.job-3{
    grid-area: job3;
     
}
.job
    {
        background: lighten($primary-color,5);
        padding: 0.3rem;
        border-bottom: 8px solid $secondary-color;
    }
#main
    {
        text-align: center;
        padding: 1.2rem;
        color:#fff;
        background: darken($primary-color,12);
        height:60px ;
    }
   //projects page stylesheet
    .Git_projects{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:1rem;
        img{
            width: 100%;
            border: 2px solid white;
        }
    }
    //button styling..
    .btn-light
        {
            display:block;
            padding: 0.5rem;
            text-align: center;
            background: $secondary-color;
            &:hover{
                background: lighten($secondary-color,3);
                opacity: 0.8;
                @include easeout;

            }
        }
        //contact page styling
        .custom_buttons{
            background: lighten($primary-color,5);
            border-bottom: 2px solid $secondary-color;
            height: 20vh;
            text-align: center;
            cursor: pointer;
            padding: 2rem;
            &:hover
                    {
                        opacity: 0.7;
                        background: lighten($secondary-color,5);
                        @include easeout;
                        cursor: pointer;
                        
                    }
        }
    .heading
        {
            
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 4px;
            margin-bottom: 20px;
        }
    
    .contact_me
            {
                display: grid;
                grid-template-columns:repeat(3, 1fr);
                grid-gap: 2rem;
               
            .email{
                @extend .custom_buttons;
            } 
            .phone
                {
                    @extend .custom_buttons;
                }  
            .linkedIn
                    {
                        @extend .custom_buttons;
                    }    
            }
//contact form
.contact_form
            {
                margin: 0;
                box-sizing: border-box;
                text-align: center;
                padding: 80px 0;
                button{
                    background: none;
                    color: #70a1ff;
                    border-radius: 8px;
                    border: 1px solid #70a1ff ;
                    padding: 12px 40px;
                    cursor: pointer;
                    &:hover
                            {
                                background: $secondary-color;
                                cursor: pointer;
                                @include easeout;
                                color: white;
                                opacity: 0.6;
                            }
                }

                .inner
                        {
                            max-width: 600px;
                            margin:auto;
                            padding :0 20px;
                        }
                h1{
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    margin-bottom: 20px;
                }
                #message{
                    max-width: 100%;
                    min-width: 100%;
                }
                .name{
                    float: left;
                    padding: 2rem;
                               
                }
                .email{float: right;}
                .name,.email,#message{
                    background: none;
                    border: none;
                    outline: none;
                    text-align: center;
                    border-bottom: 2px solid $secondary-color;
                    padding: 10px 6px;
                    margin-bottom: 40px;
                    color: white;

                }
            }
            .spanned {
                width: 100%; 
                margin-top: 5rem;
                text-align: center; 
                border-bottom: 1px solid #fff; 
                line-height: 0.1em;
                
                span { 
                    color: white;
                    background: lighten($primary-color,5);
                    padding:0 10px; 
                }
             } 
             .overlayed {
                color: white;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
              }  
              .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: #008CBA;
              }       
              
    
     @import 'media';